# Konfigurasi Server
PORT=3000

# Secret Key untuk otorisasi API (Bearer Token)
SECRET_KEY=kopi9_wa_secret_2026

# Lokasi penyimpanan sesi Baileys WhatsApp
# Lokal: ./session
# Railway (Persistent Volume): /app/session
SESSION_DIR=./session

# Nomor Bot WhatsApp (yang memindai QR Code)
BOT_PHONE=6285855180131


# Nomor Pribadi Owner Toko (Penerima Notifikasi Pesanan Baru)
OWNER_PHONE=628132869806
